ZHIPUAI_API_KEY=d0da122c43594d87a036fcf22c7d96a3.ONsw6cBnzhLqOqT3
MYSQL_HOST=192.168.50.126
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=user
MYSQL_DATABASE=mydb
JWT_SECRET=datamind-2026-ecommerce-agent-secret
